#login{
    width: 900px;
    margin: auto;
    height: 388px;
    display: grid;
    grid-template-columns: repeat(2,55% 45%);
    background-color: white;
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: gray;
}
#login>div:first-child>img{
    width: 90%;
    height: 350px;
    border-radius: 30px;
    margin-top: 15px;
}
#login>div:last-child{
    padding-left: 20px;
}
#login>div:last-child>h1{
    font-size: 22px;
    font-weight: bold;

}
#login>div:last-child>p{
    font-size: 16px;
    opacity: 0.7;
    color: gray;
}
#login-input{
display: grid;
grid-template-columns: repeat(2,12% 89%);
padding-top: -10px;
}
#login-input>div>input{
   width: 83%;
   height: 40px;
   font-size: 20px;
   border: none;
   border-bottom: 0.7px solid gray;

}
#login-input>div:first-child{
    padding-top: 12px;
 
 }
 #phone{
     padding-top: 50px;
 }
#login>div:last-child>button{
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    background-color: #32aeb1;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
#logo{
    display: grid;
    grid-template-columns: repeat(2, 90px 90px);
    column-gap: 70px;
    padding-top: 20px;
    padding-left: 40px;
    
}
#logo>div{
   width: 100px;
   height: 30px;
   padding-top: 10px;
   color: rgb(74, 25, 211);
}
#tc{
    text-align: center;
}
span{
    color: red;
}