
#productItem{
    background-color: rgb(248, 248, 248);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,24%);
    justify-content: space-evenly;
    gap: 7px;
    margin-bottom: 20px;
}
#productItem>div{
    height: 300px;
    border: .3px solid black;
    border-radius: 5px;
}
#productItem>div>h1{
    font-size: 12px;
    padding-left: 5px;
}
#productItem>div>p{
    font-size: 10px;
    padding-left: 5px;
}
#productItem>div>img{
    height: 40%;
    width: 80%;
    margin-left: 10%;
}
#productItem>div>button{
    height: 20px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
#productItem>div>p:nth-child(1){
    color:rgb(243, 241, 241);
    background-color: green;
    width: 40px;
    padding-left: 5px;
    margin-left: 5px;
}
/* #productItem>div>p:nth-child(6){

} */
#productItem>div>p:nth-child(5){
    color:rgb(11, 87, 40);
    font-weight: bold;
    font-size: 13px;
}
#main{
    display: flex;
    margin-top:100px;
    justify-content: space-around;
}
#main>div:first-child{
    width: 20%;
    height: 600px;
    border-radius: 5px;
    border: 0.2px solid black;
}
#main>div:last-child{
    width: 75%;
    box-sizing: border-box;
}
#sort{
    display: grid;
    grid-template-columns: repeat(5, 30% 60%);
    justify-content: space-between;
}
#sort>div{
    display: flex;
    gap: 5px;
}
#sort>div>button{
    width: 100px;
    height: 30px;
    margin-top: 12px;
    margin-left: 40px;
}
#sort>div>button:hover{
    color: blue;
    border: .3px solid blue;
    font-weight: bold;
}
#outof, #total{
    font-weight: bold;
}
#ctg{
    display: grid;
    justify-content: center;
    align-items: center;
}
#ctg>p{
    font-weight: bold;
}
#ctg>p:first-child{
    color: crimson;
    font-size: 25px;
    margin-left: -60px;
}