#partner-offer {
    margin-top: 20px;
}
.partner {
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.partner-category {
   font-family: LotoBold;
    padding: 0 10vw;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}
 .partner-container {
     /* border: 1px solid red; */
    background-color: #f3f7fb;
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
 }

 .partner-container::-webkit-scrollbar {
    display: none;
  }

  .partner-card {
    display: flex;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    flex: 0 0 auto;
    width: 330px;
    height: 80px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    
  }

  .partner-image > img {
    /* border: 1px solid orange; */
    position: relative;
    /* margin-left: 20px; */
    width: 50px;
    height: 36px;
    margin-top: 25px;
  }
  .partner-info {
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    /* padding-top: 10px; */
    text-align: center;
    margin-bottom: 10px;
  }
  .partner-info>p {
      /* margin-bottom: 15px; */
    overflow: hidden;
  }
  .partner-info>h2 {
    font-size: 20px;
    font-family: LatoSemiBold;

}


.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%); */
  background-color: transparent;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
<<<<<<< HEAD
  opacity: 0.95;
=======
  opacity: 0.2;
>>>>>>> 0250e24911433e8ecc728482bbbafdc712ca013d
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* Health Advice Articles */
.health-card {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  flex: 0 0 auto;
  width: 380px;
  height: 200px;
  margin-right: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.advice-thumb {
  width: 100%;
  height: 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Advice-image>h4{
  margin-left: 10px;
}
<<<<<<< HEAD
.Healthimg{
  padding-left: 26%;
  padding-top: 20px;
}
.text{
  padding-top: 120px;
}
=======

>>>>>>> 0250e24911433e8ecc728482bbbafdc712ca013d


